In [1]:
import numpy as np

In [2]:
import pandas as pd

In [8]:
df_train= pd.read_csv("C://Users//Nidhi Jajodia//Downloads//Train.csv")

In [9]:
df_test= pd.read_csv("C://Users//Nidhi Jajodia//Downloads//Train.csv")

In [11]:
df_train.isna().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [12]:
df_train_filled = df_train.apply(lambda x: x.fillna(x.mode()[0]))

In [13]:
df_train_filled.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,1.0,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,1.0,High,6.0,Cat_6,A

In [14]:
df_train_filled.isna().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [15]:
from sklearn.preprocessing import StandardScaler
sc =StandardScaler

In [16]:
from sklearn.preprocessing import StandardScaler


selected_columns = ['Age', 'Work_Experience', 'Family_Size']
scaler = StandardScaler()

df_train_filled[selected_columns] = scaler.fit_transform(df_train_filled[selected_columns])

In [17]:
df_train_filled.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,-1.284623,No,Healthcare,-0.451136,Low,0.785536,Cat_4,D
1,462643,Female,Yes,-0.327151,Yes,Engineer,-0.451136,Average,0.122735,Cat_4,A
2,466315,Female,Yes,1.408268,Yes,Engineer,-0.451136,Low,-1.202868,Cat_6,B
3,461735,Male,Yes,1.408268,Yes,Lawyer,-0.757410,High,-0.540066,Cat_6,B
4,462669,Female,Yes,-0.207467,Yes,Entertainment,-0.451136,High,2.111139,Cat_6,A

In [18]:
from sklearn.preprocessing import LabelEncoder
b=["Gender","Ever_Married","Graduated","Profession","Spending_Score","Var_1","Segmentation"]
le = LabelEncoder()
for i in b:
 df_train_filled[i]=le.fit_transform(df_train_filled[i])

In [19]:
df_train_filled.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,1,0,-1.284623,0,5,-0.451136,2,0.785536,3,3
1,462643,0,1,-0.327151,1,2,-0.451136,0,0.122735,3,0
2,466315,0,1,1.408268,1,2,-0.451136,2,-1.202868,5,1
3,461735,1,1,1.408268,1,7,-0.757410,1,-0.540066,5,1
4,462669,0,1,-0.207467,1,3,-0.451136,1,2.111139,5,0

In [20]:
df_train_filled.columns

Index(['ID', 'Gender', 'Ever_Married', 'Age', 'Graduated', 'Profession',
       'Work_Experience', 'Spending_Score', 'Family_Size', 'Var_1',
       'Segmentation'],
      dtype='object')

In [21]:

x=df_train_filled[['Gender','Ever_Married','Age','Graduated','Profession','Work_Experience','Spending_Score','Family_Size','Var_1']]

In [22]:
Y=df_train_filled['Segmentation']

In [23]:
from sklearn.tree import DecisionTreeClassifier
dt =  DecisionTreeClassifier()
dt = dt.fit(x,Y)

In [24]:
dt.fit(x,Y)

DecisionTreeClassifier()

In [ ]:
%matplotlib inline
from matplotlib import pyplot as plt
from sklearn import tree

fig = plt.figure(figsize=(10, 20))
_ = tree.plot_tree(dt, filled=True)
plt.show()

In [ ]:
df_TEST_filled = df_test.apply(lambda x: x.fillna(x.mode()[0]))

In [ ]:
from sklearn.preprocessing import StandardScaler


selected_columns = ['Age', 'Work_Experience', 'Family_Size']
scaler = StandardScaler()

df_TEST_filled[selected_columns] = scaler.fit_transform(df_TEST_filled[selected_columns])

In [ ]:
from sklearn.preprocessing import LabelEncoder
b=["Gender","Ever_Married","Graduated","Profession","Spending_Score","Var_1","Segmentation"]
le = LabelEncoder()
for i in b:
 df_TEST_filled[i]=le.fit_transform(df_TEST_filled[i])

In [ ]:
x_TEST=df_TEST_filled[['Gender','Ever_Married','Age','Graduated','Profession','Work_Experience','Spending_Score','Family_Size','Var_1']]

In [ ]:
y_TEST=df_TEST_filled['Segmentation']

In [ ]:
y_TEST

In [ ]:
Y_PRED=dt.predict(x_TEST)

In [ ]:
Y_PRED

In [ ]:
from sklearn.metrics import precision_score, f1_score, accuracy_score, recall_score

p = precision_score(y_TEST, Y_PRED, average='micro')
r = recall_score(y_TEST, Y_PRED, average='micro')
a = accuracy_score(y_TEST, Y_PRED)
f1 = f1_score(y_TEST, Y_PRED, average='micro')

In [ ]:
p

In [ ]:
r

In [ ]:
a

In [ ]:
f1

In [ ]:
df1=pd.read_csv("C://Users//IMI-KOLKATA//Downloads//Test.csv")

In [ ]:
df1

In [ ]:
df1= df1.apply(lambda x: x.fillna(x.mode()[0]))

In [ ]:
from sklearn.preprocessing import StandardScaler


selected_columns = ['Age', 'Work_Experience', 'Family_Size']
scaler = StandardScaler()

df1[selected_columns] = scaler.fit_transform(df1[selected_columns])

In [ ]:
df1

In [ ]:
from sklearn.preprocessing import LabelEncoder
b=["Gender","Ever_Married","Graduated","Spending_Score","Var_1","Profession"]
le = LabelEncoder()
for i in b:
 df1[i]=le.fit_transform(df1[i])

In [ ]:
df1

In [ ]:
Y_PRE=dt.predict(df1)

In [ ]:
Y_PRE